.hero-section {
    position: relative;
    min-height: 100vh;
    max-height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
#starfield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero-content {
    position: relative;
    z-index: 10;
    padding: 20px;
}
.hero-content h1 {
    font-size: clamp(2.5rem, 6vw, 3rem);
    font-weight: 600;
    max-width: 748px;
    margin: 0;
    margin-top: -100px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    animation: title 1s ease-in-out;
}

.scroll-indicator {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    svg{
        will-change: transform;
        animation: scroll 1s linear infinite;
    }
}
@keyframes scroll {
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes title {
    0% {
        opacity: 0;
        scale: 0;
    }

    100%{
        opacity: 1;
        scale: 1;
    }
}


body{
  background-color : black
}
.arc{
  z-index: 2;
    aspect-ratio: 1;
    background-image: linear-gradient(180deg, #FD8848
, #FFB186
 3%, #000000 8%);
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160vw;
    padding: .1rem;
    position: absolute;
    inset: 70% auto auto 50%;
    transform : translate(-50%);
}
.arc-inner{
    background-color: black;
    opacity: 1;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.is{
    opacity: .7;
    filter: blur(1.5rem);
    will-change: transform;
    transform: translate(-50%, -1%);

    padding: 3rem;
}
.outer.is{
      animation :heroAurora 14s infinite ease-in-out;
}
@keyframes heroAurora {
  0% {
    transform: translate(-50%, -1%) rotateZ(0deg);
  }
  25% {
    transform: translate(-50%, -1%)             rotateZ(-7deg);
}
  50% {
    transform: translate(-50%, -1%) rotateZ(0deg);
}
  75% {
    transform: translate(-50%, -1%) rotateZ(7deg);
}
  100% {
    transform: translate(-50%, -1%) rotateZ(0deg);
}
}